.root {
  margin-top: 30px;
  display: flex;

  .imgWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 50%;
  }

  .pizzaInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 40px;
    line-height: 1;
  }

  h4 {
    font-size: 20px;
    margin-right: 20px;
    line-height: 0.5;
  }

  span {
    font-size: 15px;
    font-weight: 350;
    line-height: 1.2;
  }

  .pizzaTypeSize {
    font-size: 15px;
    color: #7b7b7b;
  }

  p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 15px;
    line-height: 1;
  }

  .selectorWrapper {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .addButtonWrapper {
    width: 160px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .imgWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .pizzaInfo {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h4 {
      margin-right: 0;
    }
  }

  @media (max-width: 480px) {
    .selectorWrapper {
      width: 90%;
    }
  }
}